  
  
  *{
    /* By default, width and height in CSS do not include padding and border, which can lead to weird sizing issues in different screen size*/
    box-sizing: border-box;
    
    /* 1.Many browsers apply default margin and padding to elements like <body>, <h1>, <ul>, etc.
       2.Resetting them to 0 avoids inconsistent spacing across browsers. */
    margin: 0;
    padding: 0;
  }

  .box1{
           box-sizing: border-box;
            /* px(pixels): one physical dot on the screen.Bad for responsive design (because it's fixed, doesn't adapt to screen size). */
            border: 2px solid black;
            width: 233px;
            background-color: aqua;
            /* there are many border properties from which of them is border radius to give shape to the border */
            border-radius: 8px;
            border-color:rgb(138, 32, 191);
            padding: 40px;
            border: radius 56px;
            /* justify content and justify items will not work here because it works in flexbox so dont put it here*/

            /* to align the text */
            text-align: center;

            /* This adds space below box1 */
            margin-bottom: 10px; 
        }

        .box2{
            /* In CSS, vh stands for "viewport height", and it is a relative unit used 
               to size elements based on the height of the browser window (the viewport).
               not good for mobile compatibility use but still it is used 
               USE CASES EXAMPLE: 
               1.100vh = 100% of the height of the browser window
               2.50vh = 50% of the window height 
               3.10vh = 10% of the window height*/
               /*you can use both of them,but dont use both at same time border-color: crimson; and border: 2px solid blue; */
            border: 4px solid rgb(46, 226, 46);
            /* you can also use border-color: */
            box-sizing: border-box; 
            width: 233px;
            background-color: rgb(175, 246, 242);
            /* use case of vh */
            padding: 12vh;
            border-radius: 8px;
            text-align: center;
            margin-bottom: 10px;
            }

         .box3{
            margin: 23px;
            /* In CSS, vh stands for "viewport width", and it is a relative unit used 
               to size elements based on the width of the browser window (the viewport). */
            /* margin auto can be used to centre the div element */
            /* Can be used to center block-level elements by setting margin: auto (e.g., margin: 23px auto for top/bottom 23px and auto left/right). 
              Note: margin: auto only works for block-level elements, not inline elements like span */
            margin: auto;
            border: 2px solid;
            border-color: black;
            box-sizing: border-box; 
            width: 233px;
            background-color: rgb(175, 246, 242);
            padding: 40px;
            /* it is used to take  */
            border-radius: 8vw;
            text-align: center;
            margin-bottom: 10px;
            }

            .box4{
               box-sizing: border-box;
               border: 2px solid black ;
               width: 80vw;
               height: 12vh;
               margin: 23px auto;
               font-size: 12fpx;
               background-color: rgb(224, 224, 18);
            }

            .box4 p{
               /* as here we can see that it is a child tag so 
               it aquires 2x font-size than its parent element if we put a em unit*/
               font-size: 2em;

            }
            
            /* for rem as here we can see that font size is 12px then applying rem will 
               cause it too increase the font size of box5 to 2x means 24px  */
            html{
            font: size 12px;
            }

            .box5{
            font-size:2rem;
             box-sizing: border-box;
               border: 2px solid black ;
               width: 80vw;
               height: 12vh;
               margin: 23px auto;
               font-size: 12fpx;
               background-color: rgb(224, 224, 18);
            }
              /* vmin and vmax */
            /* we can also use % ,also there many units but we will only use these as a beggainer */
            /* Article: https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Values_and_units  */ 